fastapi
uvicorn

langchain
langchain-community
langchain-qdrant
langchain-google-genai
langchain-ollama

qdrant-client

pypdf

python-dotenv

pydantic
pydantic-settings
langchain-text-splitters

langchain-huggingface
sentence-transformers

fastembed